<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAawyf1aMa6DJb_JL4-bIlZQ6NlJGkkMAo</string>
	<key>GCM_SENDER_ID</key>
	<string>321375054175</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.smartPay</string>
	<key>PROJECT_ID</key>
	<string>smartpay-f2e0d</string>
	<key>STORAGE_BUCKET</key>
	<string>smartpay-f2e0d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:321375054175:ios:91b389f5c32a62adceaeea</string>
</dict>
</plist>